


  <div class="text-warning text-center">Danh sách ghế đã đặt ({{countBooking}})</div>
<div *ngFor="let bookedChair of arrBookedChair; let total = count">
  <p>Số ghê : {{bookedChair.soGhe}} {{bookedChair.gia}}   <span (click)="deleteChair(bookedChair)">[Hủy]</span></p>
</div>
<p>Tong tien :{{total}}</p>
