<div class="text-dark text-center my-4 title">Tài xế</div>
<div class="row">
  <div class="col-3 pb-4" *ngFor= "let chair of chairList " >
    <app-chair-item [arrBookedChair]="arrBookedChair" [chair] = chair (eventAddChair)="addChairParent($event)" ></app-chair-item>
  </div>

</div>
