<h1 class="text-warning text-center my-4">đặt vé xe bus hãng cybersoft</h1>
<div class="container ">
  <div class="row">
    <div class="col-6">
      <app-chair-list #bookedChairList></app-chair-list>
    </div>
    <div class="col-6">
      <app-booked-chair-list [arrBookedChair] = "arrBookedChair" (eventDeleteChair)="deleteChairParent($event)"></app-booked-chair-list>
    </div>
  </div>
</div>
